Architecture: iphoneos-arm64
Author: Evelyn
Depends: ellekit (>= 0.4), cy+cpu.arm64e, firmware (>= 15.0)
Description: Support for legacy arm64e ABI in iOS 15.0+
Package: oldabi
Maintainer: Evelyn
Name: Legacy arm64e Support
Version: 1.0
